# Application
assets_versions.php
local-config.php
ignore
performance_output.json
private/*
!private/.htaccess
public/app/upgrade
public/assets/css/*
!public/assets/css/lib
public/assets/favicons
public/assets/img
public/assets/js/*
!public/assets/js/lib
public/up/*
!public/up/.htaccess
wp-keys.php

# WordPress
public/core

# Plugins
public/app/plugins/*
!public/app/plugins/advanced-custom-fields-dev

# WP-CLI
db-sync
sql-dump-*.sql

# Vendor (Composer)
vendor
composer.lock

# Logs
log

# NPM/Yarn
node_modules
npm-debug.log
yarn.lock

# Editor
.vscode

# Mac
.DS_Store
