<?php

define('WP_ENV', 'development');

define('DB_NAME', 'dbname');
define('DB_USER', 'dbuser');
define('DB_PASSWORD', 'dbpass');
define('DB_PREFIX', 'wp_');
define('DB_HOST', 'localhost');
define('DB_CHARSET', 'utf8mb4');
define('DB_COLLATE', '');

define('GOOGLE_ANALYTICS_ID', '');
define('GOOGLE_API_KEY', '');
