admin-it_IT.mo
admin-it_IT.po
admin-network-it_IT.mo
admin-network-it_IT.po
continents-cities-it_IT.mo
continents-cities-it_IT.po
it_IT.mo
it_IT.po
plugins/akismet-it_IT.mo
plugins/akismet-it_IT.po
themes/twentyfifteen-it_IT.mo
themes/twentyfifteen-it_IT.po
themes/twentyfourteen-it_IT.mo
themes/twentyfourteen-it_IT.po
themes/twentysixteen-it_IT.mo
themes/twentysixteen-it_IT.po
