*,
*:after,
*:before {
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

::selection {
	background: #04A4CC;
	color: #fff;
	text-shadow: none;
}
::-webkit-selection {
	background: #04A4CC;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #04A4CC;
	color: #fff;
	text-shadow: none;
}