*,
*:after,
*:before {
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

::selection {
	background: map-get($foundation-palette, primary);
	color: #fff;
	text-shadow: none;
}
::-webkit-selection {
	background: map-get($foundation-palette, primary);
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: map-get($foundation-palette, primary);
	color: #fff;
	text-shadow: none;
}