/* Fonts */
$sans-font: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$lato-font: 'Lato', $sans-font;

@include fontface( 'Lato', 'lato-regular-webfont', 400, normal );

body {
    font-family: $sans-font;
}

.fonts-loaded {
    body {
        font-family: $lato-font;
    }
}