<?php

add_action( 'init', 'register_simple_rental_product_type' );
function register_simple_rental_product_type() {

	class WC_Product_Custom extends WC_Product_Simple {

		public function __construct( $product ) {

			$this->product_type = 'custom';

			parent::__construct( $product );

		}

	}

}

add_filter( 'product_type_selector', 'add_custom_product_to_type_selector' );
function add_custom_product_to_type_selector( $types ){
	$types[ 'custom' ] = _t( 'Custom' );
	return $types;
}

add_action( 'admin_footer', 'product_custom_js' );
function product_custom_js() {

	if ( 'product' != get_post_type() ) :
		return;
	endif;

	?><script type='text/javascript'>
		jQuery( document ).ready( function() {
			jQuery( '.options_group.pricing' ).addClass( 'show_if_custom' ).show();
		});
	</script><?php
}