$footer-height: 50px;

.body-wrapper {
	min-height: 100%;
	position: relative;
}

.main-wrapper {
	padding-bottom: $footer-height;
	&.with-sidebar {
		display: table;

		.main {
			display: table-cell;
			width: 69%;
			padding-right: 3%;
		}
		.sidebar {
			display: table-cell;
			width: 31%;
		}
	}
}

.footer {
	bottom: 0;
	height: $footer-height;
	left: 0;
	position: absolute;
	width: 100%;
}

.container {
	@include clearfix();
	@include container();
}

.clearfix {
	@include clearfix();
}

.container--flex {
	@include gutter('medium');
	display: flex;
	flex-flow: row wrap;
}

.flex--item {
	@include gutter(false, 'small');
	flex: 0 1 100%;

	@include media-min('sm') {
		margin-right: 2%;
	}

	@include media('sm', 'md') {
		flex-basis: 49%;
		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	@include media('md', 'lg') {
		flex-basis: 32%;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}

	@include media-min('lg') {
		flex-basis: 23%;
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
}
